{% extends 'base.html.twig' %}

{% block title %}New Tours{% endblock %}

{% block body %}
    <h1>Create new Tours</h1>

    {{ include('tours/_form.html.twig') }}

    <a href="{{ path('tours_index') }}">back to list</a>
{% endblock %}