<form method="post" action="{{ path('clients_tours_cost_delete', {'id': clients_tours_cost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clients_tours_cost.id) }}">
    <button class="btn">Delete</button>
</form>