{% extends 'base.html.twig' %}

{% block title %}Edit ClientTourCost{% endblock %}

{% block body %}
    <h1>Edit ClientTourCost</h1>

    {{ include('client_tour_cost/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('client_tour_cost_index') }}">back to list</a>

    {{ include('client_tour_cost/_delete_form.html.twig') }}
{% endblock %}