{% extends 'base.html.twig' %}

{% block title %}New ClientTourCost{% endblock %}

{% block body %}
    <h1>Create new ClientTourCost</h1>

    {{ include('client_tour_cost/_form.html.twig') }}

    <a href="{{ path('client_tour_cost_index') }}">back to list</a>
{% endblock %}